<div class="container">
  <div class="row">
  	<div class="top-sentence">
  		<div>
  			<img src="http://palgong.gb.go.kr/images/introduce/map.jpg">
  		</div>
  		<div>
	  		<span class="topsent2">주소 : 우)41566 대구광역시 북구 대학로 80 경북대학교 IT 2호관 244호 GNB</span>
	  	</div>
  	</div>
  	<div>
	  	<div>
				<p><span>고속도로 이용시</span><br>
	    </div>
			<div>
	    	<ul>
	    		<li>경부고속도록(부산방면) 이용시 북대구TG에서 경북대학교 방면</li>
					<li>경부고속도록(서울방면),대구-부산고속도로 이용시 동대구TG에서 경북대학교 방면</li>
					<li>대구-포항고속도로 이용시 팔공산TG에서 경북대학교 방면</li>
	    	</ul>
	    </div>
	  </div>
    <div>
      <p><span>공항 이용시</span></p>
      <div>
      	<ul>
      		<li>버스노선 : 동구2 (20분 소요)</li>
					<li>택시 : 15분 소요</li>
      	</ul>
      </div>
    </div>
    <div>
	  	<div>
	  		<p><span>동대구역 이용시</span></p>
      	<ul>
      		<li>버스노선 : 937 (15분 소요)</li>
					<li>택시 : 10분 소요</li>
      	</ul>
      </div>
      <div>
      	<p><span>대구역 이용시</span></p>
      	<ul>
      		<li>버스노선 : 북구2, 503 (25분 소요)</li>
					<li>택시 : 15분 소요</li>
      	</ul>
      </div>
    </div>
    <div>
      <p><span>시외버스 이용시</span></p>
      <div>
      	<ul>
      		<li><span>동대구고속버스터미널, 서대구고속버스터미널, 동부정류장, 북부정류장 이용, 도착 후 시내버스 이용</span></li>
      	</ul>
      </div>
    </div>
    <div>
      <p><span>시내버스 이용시</span></p>
      <div>
      	<ul>
      		<li><span>노선번호 410, 410-1, 503, 937, 동구2, 북구 경북대학교정문 정류장 하차</span></li>
      	</ul>
    	</div>
    </div>
    <div>
      <p><span>도시철도 이용시</span></p>
      <div>
      	<ul>
      		<li><span>1호선 칠성시장역 3번출에서 동구2, 북구2</span></li>
					<li><span>1호선 신천역 5번출구에서 동구2, 410-1</span></li>
      	</ul>
      </div>
    </div>
  </div>
</div>